{
  "extends": ["airbnb","practo"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "func-names": 0,
    "no-dupe-keys": 0,
    "react/no-did-mount-set-state": 0,
    "no-unused-expressions": 0,
    "no-else-return": 0,
    "react/prop-types": 0,
    "no-fallthrough": 0,
    "guard-for-in": 0,
    "one-var": 0,
    "no-param-reassign": 0,
    "jsx-a11y/label-has-for": 0,
    "camelcase": 0,
    "react/jsx-uses-vars": [2],
    "react/jsx-uses-react": [2],
    "comma-dangle": [2, "always-multiline"],
    "no-unused-vars": [2, { "vars": "local", "args": "after-used" }],
    "global-require": 0,
    "import/newline-after-import": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "react/require-extension": 0,
    "import/imports-first": 0,
    "no-underscore-dangle": 0,
    "import/no-mutable-exports": 0,
    "import/first": 0,
    "import/extensions": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-tabs": 0,
    "prefer-template": 0
  }
}
